#root {
  background-color: black;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(36, 35, 35, 0.315) !important;
}

#navbar img {
  width: 60px;
  height: 40px;
}

#singleCard {
  background-color: rgba(75, 72, 72, 0.178);
  width: 1;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
}

.card {
  border-radius: 15px;
  border: none;
}

.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  background-color: transparent;
}